$base-white:#ffffff;
$base-dianne:#21444D;
$base-gothic:#6F9AA4;
$base-beige:#f8f8f8;
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400&display=swap');

body{
  font-family: 'Cormorant Garamond', serif;
  // position: relative;
}

p{
  font-size:1.1rem;
}

.navbar {
  .nav-link, .navbar-brand{
    font-size:1.10rem;
    letter-spacing:1.5px;
    color: $base-white;
    &:hover{
       color:$base-gothic;
    }
  }
  
}

.scroll {
  background-color: $base-dianne;
  border-bottom: 5px solid $base-gothic;
  padding:20px 0px;
}


.jumbotron {
  //background:no-repeat center right fixed url(/imgs/brooklyn-bridge.jpg);
  background:linear-gradient( rgba(71, 69, 69, 0.45), rgba(71, 69, 69, 0.45)), url(/imgs/brooklynbridge.jpg) no-repeat;
  background-size:cover;
  height:100vh;
  margin-bottom:0;

  .container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .head-content{
      color:$base-white;
      text-align:center;
      &::before{
        position: absolute;
        content: "";
        transition: all .25s;
        border-bottom: 3px solid $base-white;
        border-left: 3px solid $base-white;
        width: 30%;
        height: 53%;
        left: -10px;
        bottom: -10px;
      }
      &::after{
        position: absolute;
        content: "";
        transition: all .25s;
        border-top: 3px solid $base-white;
        border-right: 3px solid $base-white;
        width: 30%;
        height: 53%;
        top: -10px;
        right: -10px;
      }
    }
  }
}

#about{
  background:$base-beige;
  .avatar-image{
    width:30%;
    padding:25px 0px;
  }
}

.card{
  position: relative;
  border:1px solid #cccccc;
  margin:10px 0px;

  .card-img{
    display: block;
    width: 100%;
    height: 250px;
    object-fit: fill;
  }

  .card-img-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #77AAB2;
  }
  &:hover .card-img-overlay{
    opacity:0.8;
  }

}

section, footer{
  padding:100px 0px;
  h2{
    font-weight:700;
    text-transform:uppercase;
    text-align: center;
    &::after{
      content:"";
      border-bottom:2px solid black;
      display: block;
      width:5%;
      padding-top:10px;
      margin:0 auto;
    }
  }
}

footer{
  background: $base-dianne;
  color:$base-white;
  text-align: center;
  h2{
    padding-bottom:20px;
    &::after{
      border-bottom:2px solid $base-white;
    }
  }
  .media-links{
    display:flex;
    justify-content: center;
    .icon{
      font-size: 2.5rem;
      color: #ffffff;
      margin: 20px;
    }
  }
}


