$base-white:#ffffff;
$base-dianne:#21444D;
$base-gothic:#6F9AA4;
$base-beige:#f8f8f8;
$base-red:#aa2704;
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400&display=swap');

body{
  font-family: 'Cormorant Garamond', serif;
  // position: relative;
}


p{
  font-size:1.1rem;
}

.navbar {
  .nav-link, .navbar-brand{
    font-size:1.10rem;
    letter-spacing:1.5px;
    color: $base-white;
    &:hover{
       color:$base-gothic;
    }
  }
  .navbar-nav{
    ul{
      display:flex;
      .nav-item{
        list-style: none;
      }
      @media (max-width: 767px){
        display: inline;
      }
    }
  }  
}

.scroll {
  background-color: $base-dianne;
  border-bottom: 5px solid $base-gothic;
  padding:20px 0px;
}


.is-current a{
  color:$base-gothic!important;
}


.jumbotron {
  //background:no-repeat center right fixed url(/imgs/brooklyn-bridge.jpg);
  background:linear-gradient( rgba(71, 69, 69, 0.45), rgba(71, 69, 69, 0.45)), url(/imgs/brooklynbridge.jpg) no-repeat;
  background-size:cover;
  height:100vh;
  margin-bottom:0;

  .container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .head-content{
      color:$base-white;
      text-align:center;
      &::before{
        position: absolute;
        content: "";
        transition: all .25s;
        border-bottom: 3px solid $base-white;
        border-left: 3px solid $base-white;
        width: 30%;
        height: 53%;
        left: -10px;
        bottom: -10px;
      }
      &::after{
        position: absolute;
        content: "";
        transition: all .25s;
        border-top: 3px solid $base-white;
        border-right: 3px solid $base-white;
        width: 30%;
        height: 53%;
        top: -10px;
        right: -10px;
      }
    }
  }
}

#about{
  background:$base-beige;
  .avatar-image{
    width:30%;
    padding:25px 0px;
  }
}

.card{
  position: relative;
  border:1px solid #cccccc;
  margin:10px 0px;

  .card-img{
    display: block;
    width: 100%;
    height: 250px;
    object-fit: fill;
  }

  .card-img-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: $base-gothic;
    a{
      text-decoration:none;
    }

    .text{
      opacity:1;
      position: absolute;
      top: 40%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center;
      font-size:1.25rem;
      font-weight:900;
      color:$base-beige;
    }

    .card-text{
      top:60%;
    }
  }
  &:hover .card-img-overlay{
    opacity:1;
  }

}

section, footer{
  padding:100px 0px;
  h2{
    font-weight:700;
    text-transform:uppercase;
    text-align: center;
    &::after{
      content:"";
      border-bottom:2px solid black;
      display: block;
      width:5%;
      padding-top:10px;
      margin:0 auto;
    }
  }
}

/*-------------- TIMELINE this is from: https://codepen.io/brady_wright/pen/NNOvrW ----------------*/

#resume{
    background:$base-beige;
    .container-fluid {
      .row {
        padding: 0 0 4em 0;
        &:nth-child(even) {
            background: #F1F4F5;
        }
      }
    }
    h2{
      margin: 50px 0px;
    }
}

.timeline {
  line-height: 1.4em;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  h1, h2, h3, h4, h5, h6 {
      line-height: inherit;
  }

}

/*----- TIMELINE ITEM -----*/

.timeline-item {
  padding-left: 40px;
  position: relative;
  &:last-child {
      padding-bottom: 0;
  }
}

/*----- TIMELINE INFO -----*/

.timeline-info {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 3px;
  margin: 0 0 .5em 0;
  text-transform: uppercase;
  white-space: nowrap;
}
/*----- TIMELINE MARKER -----*/

.timeline-marker {
  position: absolute;
  top: 0; bottom: 0; left: 0;
  width: 15px;
  &:before {
      background: $base-red;
      border: 3px solid transparent;
      border-radius: 100%;
      content: "";
      display: block;
      height: 15px;
      position: absolute;
      top: 4px; left: 0;
      width: 15px;
      transition: background 0.3s ease-in-out,
              border 0.3s ease-in-out;
  }
  &:after {
      content: "";
      width: 3px;
      background: #CCD5DB;
      display: block;
      position: absolute;
      top: 24px; bottom: 0; left: 6px;
  }
  .timeline-item:last-child &:after {
      content: none;
  }
}
.timeline-item:not(.period):hover .timeline-marker:before {
  background: transparent;
  border: 3px solid $base-red;
}

/*----- TIMELINE CONTENT -----*/

.timeline-content {
  padding-bottom: 40px;
  p:last-child {
      margin-bottom: 0;
  }
}

/*----- TIMELINE PERIOD -----*/

.period {
  padding: 0;
  .timeline-info {
      display: none;
  }
  .timeline-marker {
      &:before {
          background: transparent;
          content: "";
          width: 15px;
          height: auto;
          border: none;
          border-radius: 0;
          top: 0;
          bottom: 30px;
          position: absolute;
          border-top: 3px solid #CCD5DB;
          border-bottom: 3px solid #CCD5DB;
      }
      &:after {
          content: "";
          height: 32px;
          top: auto;
      }
  }
  .timeline-content {
      padding: 40px 0 70px;
  }
  .timeline-title {
      margin: 0;
  }
}

.timeline-split {
  @media (min-width: 768px) {
      .timeline {
          display: table;
      }
      .timeline-item {
          display: table-row;
          padding: 0;
      }
      .timeline-info,
      .timeline-marker,
      .timeline-content,
      .period .timeline-info {
          display: table-cell;
          vertical-align: top;
      }
      .timeline-marker {
          position: relative;
      }
      .timeline-content {
          padding-left: 30px;
      }
      .timeline-info {
          padding-right: 30px;
      }
      .period .timeline-title {
          position: relative;
          left: -45px;
      }
  }
}

.timeline-centered {
  @extend .timeline-split;
  @media (min-width: 992px) {
      &,
      .timeline-item,
      .timeline-info,
      .timeline-marker,
      .timeline-content {
          display: block;
          margin: 0;
          padding: 0;
      }
      .timeline-item {
          padding-bottom: 40px;
          overflow: hidden;
      }
      .timeline-marker {
          position: absolute;
          left: 50%;
          margin-left: -7.5px;
      }
      .timeline-info,
      .timeline-content {
          width: 50%;
      }
      > .timeline-item:nth-child(odd) .timeline-info {
          float: left;
          text-align: right;
          padding-right: 30px;
      }
      > .timeline-item:nth-child(odd) .timeline-content {
          float: right;
          text-align: left;
          padding-left: 30px;
      }    
      > .timeline-item:nth-child(even) .timeline-info {
          float: right;
          text-align: left;
          padding-left: 30px;
      }
      > .timeline-item:nth-child(even) .timeline-content {
          float: left;
          text-align: right;
          padding-right: 30px;
      }
      > .timeline-item.period .timeline-content {
          float: none;
          padding: 0;
          width: 100%;
          text-align: center;
      }
      .timeline-item.period {
          padding: 50px 0 90px;
      }
      .period .timeline-marker:after {
          height: 30px;
          bottom: 0;
          top: auto;
      }
      .period .timeline-title {
          left: auto;
      }
  }
}





footer{
  background: $base-dianne;
  color:$base-white;
  text-align: center;
  h2{
    padding-bottom:20px;
    &::after{
      border-bottom:2px solid $base-white;
    }
  }
  .media-links{
    display:flex;
    justify-content: center;
    .icon{
      font-size: 2.5rem;
      color: #ffffff;
      margin: 20px;
    }
  }
}


